In [1]:
clear

#prepare parcel id data to pull into the next file: selenium_loudoun_loop.ipynb

In [2]:
#tools to interact with the website

#tools to organize data pulled from website
import pandas as pd
import numpy as np

LOAD THE PARCEL DATA HERE

In [3]:
#parcel id numbers
#will need to load the data set from arcGIS at the top
#will need to load parcel data here to go through the entire parcel id data base

file='C:/Users/mhcin/Desktop/Tara_JOBS_2021/ArcGIS_projects/Loudoun_Data/Loudoun_Data/Loudoun_alt/Loudoun_parcel.csv'
dataxl=pd.read_csv(file, index_col=0)

Parcel=dataxl['PA_MCPI'] #pull out only parcel id
Parid_num=pd.to_numeric(Parcel, errors='coerce', downcast='integer') #change to a number

# example of a parid_num = "160491853000" for troubleshooting

In [5]:
Parcel

OID_
1                  NaN
2         258276827000
3         584193128000
4         584196117000
5         231461150000
              ...
127635    354302524000
127636    396264807000
127637    396263084000
127638    396362442000
127639    396356239000
Name: PA_MCPI, Length: 127639, dtype: object

In [13]:
#right now, Parcel is in a good format, retaining leading zeros on parcel id
(Parcel.loc[8600])

'039203989000'

In [5]:
type(Parcel)

pandas.core.series.Series

In [27]:
Parcel.shape

(127639,)

In [14]:
#does not retain leading zeros
Parid_num.iloc[8600]

39203699000.0

In [16]:
#check for NaNs, true if Nan, from kite
Parid_count = Parid_num.isna().sum()
print(Parid_count)

33

In [17]:
# new variable with object in one column and number in the other
Parcel2_data =[Parcel , Parid_num]
headers = ["Parcel", "Parid_num"]
Parcel2 = pd.concat(Parcel2_data, axis =1, keys = headers)

In [18]:
Parcel2.iloc[8600]

Parcel        039203699000
Parid_num    39203699000.0
Name: 8601, dtype: object

In [20]:
Parcel2_noNan = Parcel2.dropna(axis =0)

In [21]:
#check that Nans removed
Parcel2_noNan.shape

(127606, 2)

In [22]:
Parcel2_noNan.iloc[8600]

Parcel        039396586000
Parid_num    39396586000.0
Name: 8615, dtype: object

In [28]:
#drop Nan - compare to Parcel2_noNan to make sure the same size
parid_num = Parid_num.dropna()
parid_num.shape

(127606,)

In [29]:
parid_num.head()

OID_
2    2.582768e+11
3    5.841931e+11
4    5.841961e+11
5    2.314612e+11
6    4.021556e+11
Name: PA_MCPI, dtype: float64

In [30]:
#this will be th einput for the loop. it carries the Parcel Id numbers as objects
Parcel_input = Parcel2_noNan[["Parcel"]].copy()

In [31]:
Parcel_input.iloc[8600]

Parcel    039396586000
Name: 8615, dtype: object

In [32]:
#verify data
Parcel_input.head()

            Parcel
OID_
2     258276827000
3     584193128000
4     584196117000
5     231461150000
6     402155556000

In [33]:
Parcel_input.dtypes

Parcel    object
dtype: object

In [34]:
Parcel_input.iloc[8600]

Parcel    039396586000
Name: 8615, dtype: object

In [35]:
#one too many columns
Parcel_input.shape

(127606, 1)

In [36]:
#rest the index column to increase monotonically
Parcel_input2=Parcel_input.reset_index()

In [37]:
#rewrite the dataframe to remove the extra oid column
Parcel_input2 = Parcel_input2[["Parcel"]].copy()

In [38]:
#Check results
Parcel_input2.head()

         Parcel
0  258276827000
1  584193128000
2  584196117000
3  231461150000
4  402155556000

In [40]:
#recheck leading zeros issue
Parcel_input2.iloc[8600]

Parcel    039396586000
Name: 8600, dtype: object

In [43]:
type(Parcel_input2)

pandas.core.frame.DataFrame

In [48]:
#save Parcel_input2 so it can be called into selenium_loudoun loop
import csv
Parcel_input2['Parcel']=Parcel_input2['Parcel'].astype('str')
Parcel_input2.to_csv('Loudoun_parcel.csv')